/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    background: #f1f7fd;
    padding: 70px 0 60px;
  }
  .counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
  }
  .counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #63e6be;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }
  .counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #183153;
  }
  .counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: roboto;
    font-size: 14px;
  }

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/

  .heading{
    font-family: roboto;
    font-weight: 600;
    color: #183153;
}
.search_box{
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
.search{
    height: 60px;
    width: 60%;
    border: 1px solid #eee;
    padding: 0;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 12px;
    margin-right: 50px;
}
.icon_box{
    width: 60px;
    height: 60px;
    background:#63e6be;
    border-radius: 50px;
}
.icon_box i {
    /* transform: translateX(-50%); */
    font-size: 20px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }
 
  @media (max-width: 600px) {
    .search_box{
        margin-top: -10px;
        display: block;
    }
    .search{
        width: 80%;
        margin: 0px 0 17px 0;
    }
  }

/*--------------------------------------------------------------
# Display cards css
--------------------------------------------------------------*/

.card {
  border: none;
  border-radius: 10px;
  border: 1.5px solid #eee;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.badge span {
  background-color: #63e6be;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center
}

.progress {
  height: 10px;
  border-radius: 10px
}

.progress div {
  background-color: #63e6be
}

.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}
.heading{
  color: #183153;
  font-family: roboto;
}
.head{
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #2c4964;
  margin-bottom: 8px;
}
.head_sub{
  margin: 0;
  color: rgb(69, 69, 69);
  font-family: roboto;
}
.icon_card{
  border: 2px solid #63e6be;
  border-radius: 50px;
}
.icon_card i {
  color: #63e6be;
  font-size: 22px;
}